.melihat_detail_transaksi {
	height:666px !important;
}
.container_background {
	height:489px !important;
}
.data_kiri_container { 
	width:499px;
	height:209px;
	position:absolute;
	left:26px;
	top:101px;
}
.nomor_pinjaman { 
	width:499px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.teks_nomor_pinjaman { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_nama { 
	color:rgba(0, 0, 0, 1);
	width:328px;
	height:23px;
	position:absolute;
	left:171px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.nomor_ajuan { 
	width:499px;
	height:23px;
	position:absolute;
	left:0px;
	top:31px;
}
.teks_nomor_ajuan { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_nip { 
	color:rgba(0, 0, 0, 1);
	width:328px;
	height:23px;
	position:absolute;
	left:171px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.jenis { 
	width:499px;
	height:23px;
	position:absolute;
	left:0px;
	top:62px;
}
.teks_jenis { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
    padding-top: 0px !important;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_kelamin { 
	color:rgba(0, 0, 0, 1);
	width:328px;
	height:23px;
	position:absolute;
	left:171px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.jumlah { 
	width:499px;
	height:23px;
	position:absolute;
	left:0px;
	top:93px;
}
.teks_jumlah { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_tempat_lahir { 
	color:rgba(0, 0, 0, 1);
	width:328px;
	height:23px;
	position:absolute;
	left:171px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.jasa { 
	width:499px;
	height:23px;
	position:absolute;
	left:0px;
	top:124px;
}
.teks_jasa { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_tanggal_lahir { 
	color:rgba(0, 0, 0, 1);
	width:328px;
	height:23px;
	position:absolute;
	left:171px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.diangsur { 
	width:499px;
	height:23px;
	position:absolute;
	left:0px;
	top:155px;
}
.teks_diangsur { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_alamat_rumah { 
	color:rgba(0, 0, 0, 1);
	width:328px;
	height:23px;
	position:absolute;
	left:171px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.angsuran { 
	width:499px;
	height:23px;
	position:absolute;
	left:0px;
	top:186px;
}
.teks_angsuran { 
	color:rgba(0, 0, 0, 1);
	width:157px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_pos { 
	color:rgba(0, 0, 0, 1);
	width:328px;
	height:23px;
	position:absolute;
	left:171px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_kanan_container { 
	width:507px;
	height:178px;
	position:absolute;
	left:564px;
	top:101px;
}
.potongan { 
	width:507px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
}
.teks_potongan { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_hp { 
	color:rgba(0, 0, 0, 1);
	width:323px;
	height:23px;
	position:absolute;
	left:184px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.asuransi { 
	width:507px;
	height:23px;
	position:absolute;
	left:0px;
	top:31px;
}
.teks_asuransi { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_instansi { 
	color:rgba(0, 0, 0, 1);
	width:323px;
	height:23px;
	position:absolute;
	left:184px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.diterima { 
	width:507px;
	height:23px;
	position:absolute;
	left:0px;
	top:62px;
}
.teks_diterima { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_alamat_instansi { 
	color:rgba(0, 0, 0, 1);
	width:323px;
	height:23px;
	position:absolute;
	left:184px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.mulai_mengangsur { 
	width:507px;
	height:23px;
	position:absolute;
	left:0px;
	top:93px;
}
.teks_mulai_mengangsur { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_ktp_suami { 
	color:rgba(0, 0, 0, 1);
	width:323px;
	height:23px;
	position:absolute;
	left:184px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.pimpinan { 
	width:507px;
	height:23px;
	position:absolute;
	left:0px;
	top:124px;
}
.teks_pimpinan { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_ktp_istri { 
	color:rgba(0, 0, 0, 1);
	width:323px;
	height:23px;
	position:absolute;
	left:184px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.status { 
	width:507px;
	height:23px;
	position:absolute;
	left:0px;
	top:155px;
}
.teks_status { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:23px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.data_3x4 { 
	color:rgba(0, 0, 0, 1);
	width:323px;
	height:23px;
	position:absolute;
	left:184px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}
.detail_pinjaman { 
	color: rgba(0, 0, 0, 1);
    width: 217px;
    height: 23px;
    font-family: Roboto;
    text-align: center;
    font-size: 25px;
    letter-spacing: 0;
    line-height: 1px;
    margin-left: 440px;
    z-index: 99;
    position: absolute;
    top: 40px;
}